.checkout {
	display: flex;
	
	background-color: white;
	
}

.checkout__ad {
	margin-top: 5px;
   width:100%;
	
}

.checkout__title {
	margin-right: 10px;
	padding: 30px;
	border-bottom: 1px solid lightgray;
  
}
.checkout__right {
    /* Decrease the right margin or padding, or add negative margin to move it left */
     /* Adjust this value as needed */
     flex: 1;
   min-width: 200px;
    /* Other styles... */
}
.checkout__right__image {
  width: 90%; /* Full width of the container */
  padding-top: 5px;
  padding-bottom: 15px;
  padding-left: 10px;
}

@media only screen and (max-width: 414px) {
    .checkout {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }

    .checkout__ad {
        margin-top: 3px; /* Smaller top margin */
        width: 100%; /* Full width */
    }

    .checkout__title {
        margin-right: 5px; /* Smaller right margin */
        padding: 15px; /* Smaller padding */
        font-size: 16px; /* Smaller font size if necessary */
    }

    .checkout__right {
        flex: none; /* Adjust flex property for smaller screens */
        width: 100%; /* Full width on small screens */
        margin-top: 10px; /* Add some top margin for separation */
    }

    .checkout__right__image {
        width: 70%; /* Adjust width for smaller screens */
        padding: 5px; /* Adjust padding for smaller screens */
    }

    /* Adjust other elements as necessary */
}