.checkout {
	display: flex;
	
	background-color: white;
	
}

.checkout__ad {
	margin-top: 5px;
   width:100%;
	
}

.checkout__title {
	margin-right: 10px;
	padding: 30px;
	border-bottom: 1px solid lightgray;
  
}
.checkout__right {
     flex: 1;
   min-width: 200px;
    /* Other styles... */
}
.checkout__right img {
    width: 98%; /* Adjust width for smaller screens */
    padding-top: 5px;
}

@media only screen and (max-width: 668px) {

    .checkout__ad {
        margin-top: 3px; /* Smaller top margin */
        width: 100%; /* Full width */
    }

    .checkout__title {
        margin-right: 5px; /* Smaller right margin */
        padding: 15px; /* Smaller padding */
        font-size: 15px; /* Smaller font size if necessary */
    }

    .checkout__right {
        flex: 1; /* Adjust flex property for smaller screens */
         /* Full width on small screens */
         /* Override min-width */
         /* Add some top margin for separation */
    }

    
    /* Adjust other elements as necessary */
}