.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  
}
.header__topContainer{
  display: flex;
  align-items: center;
  flex: 1;
  
  
}
.header__logo {
  flex: 1;
 
 
}
.header__searchbar{
  display: flex;
  flex: 1;
}
.header__searchInput {
  
  width: 100%;
}

.header__searchIcon {
  background-color: #cd9042;
  height: 34px !important;
  width: 30px !important;
 
  
}

.header__nav {
  display: flex;
  
}
.header__link {
  color: white;
  text-decoration: none;
}
.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 3px;
  margin-right: 5px;
  vertical-align: middle;
}

.header__option1 {
  font-size: 12px;
  font-weight: 750;
}

.header__option2 {
  font-size: 16px;
  font-weight: 800;
}

.header__cartContainer {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-right: 10px;
}
@media screen and (max-width: 600px) {
 .header__logo {
   
    width: 130px;
    

 }


}

/* Media query for mobile devices */
@media screen and (max-width: 500px) {
  .header {
    align-items: flex-start;
    
  }
  .header__topContainer{
    align-items: flex-start;
    flex-direction: column;
   
    
  }

  .header__logo {
    object-fit: contain;
    width: 150px;
    margin-top:-5px ;
   
  }
  .header__searchbar{
    display: flex;

 width: 200%;
    margin-left: 5px;
    margin-bottom: 5px;
   
  }
  
  .header__nav {
    display: flex;
    margin-top: 8px;
     
  }
}
