.home__productsrow1 {
    position: relative;
    display: flex;
    z-index: 2;
    margin-top: -135px;
    margin-bottom: 15px;
    width: 100%;
  }
  
  .home__productsrow2 {
    position: relative;
    display: flex;
    z-index: 2;
    padding-bottom: 15px;
  }
  
  .product {
    display: flex;
  flex-direction: column;
  justify-content: space-between;
    background-color: rgb(255, 255, 255);
    flex: 1;
    margin: 0 15px; /* Optional: set margins around the product */
    align-items: center;
    padding-bottom: 5px ;
  }
  
  .product__image {
    padding: 5px;
    width: 90%;
    height: 250px;
    object-fit: contain;
    
  }
  
  .product__info {
    margin: 15px;
   
  }
  
  .product__price {
    margin-top: -10px;
  }
  
  .product__rating {
    display: flex;
    margin-top: -33px;
  }
  
  .product__button {
    background-color: #f0c14b;
    border: 1px solid #f0c14b;
    border-radius: 12px;
    width: 150px; /* Make button full width */
    /* Remove position, top, left, transform, and margin-top styles */
    /* Add padding for a better button look */
    padding: 8px 16px;
    transition: background-color 0.3s;
    cursor: pointer;
   
  }

.product button:hover {
    background-color: #d8a343; /* Change background color on hover */
    
}
  
  
  @media (max-width:800px) {
    .home__productsrow1,
    .home__productsrow2 {
      display: flex;
      flex-wrap: wrap; /* Allow products to wrap to the next line */
      
    }
  
    .product {
     padding: 5px;
      margin: 13px; /* Smaller margin to fit two products side by side */
     
    }
  
    .product__image {
      width: 190px;

      height: 190px; /* Smaller image for mobile */
    }
  
    .product button {
      width: 140px; /* Smaller button for mobile */
      
    }
  
    .home__productsrow1 {
      margin-top: -40px; /* Move only the top row down a bit */
    }
  }
  