.subtotal {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Keep space between items if there's extra room */
     /* Adjust width to be responsive within its parent container */
    padding: 5px 20px;
    margin-right: 3px;
    background-color: #f3f3f3;
    border: 1px solid #dddddd;
    border-radius: 5px;
    margin-bottom: 4px;
  }
  
  .subtotal__gift {
    display: flex;
    align-items: center;
  }
  
  .subtotal__gift > input {
    margin-right: 5px;
  }
  
.subtotal > button {
  background: #f0c14b;
	border-radius: 5px;
	width: 150px;
	height: 30px;
	border: 1px solid;
	margin-top: 5px ;
	border-color: #a88734 #9c7e31 #846a29;
  transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Smooth transition for color and shadow */
  color: #111;
}

.subtotal > button:hover {
  background: #f0c14b; /* Lighter color on hover */
  cursor: pointer; /* Change cursor to pointer */
}

button:focus {
  outline: none; /* Removes the default outline */
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.5); /* Adds a custom focus style */
}/* Base styles */
/* ... (existing styles for .subtotal and its children) ... */

/* Media query for smaller screens */
@media only screen and (max-width: 668px) {
  .subtotal {
      padding: 5px 10px; /* Smaller padding */
      
  }

  
  .subtotal__gift > input {
      margin-right: 3px; /* Smaller margin */
  }

  .subtotal > button {
      padding: 5px; /* Smaller padding for the button */
      margin-top: 5px; /* Smaller margin-top */
      font-size: 14px; /* Smaller font size for text inside the button */
      margin-left: 10px;
  }
}
